*{
	padding: 0;
	margin: 0;
	/* overflow: hidden; */
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
html, body{
	padding: 0;
	margin: 0;
	/* color: #DBDADA;
	background-color: #404150;
	font-family: sans-serif; */
	/* max-width: 375px; */
	/* scroll-behavior: smooth;
	transition: color 0.5s, background-color 0.5s; */
}
body{
    background-color: #0B0D17;
}

h1{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
}

h2{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

h5{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.7px;

    color: #D0D6F9;
}

p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;

    color: #D0D6F9;
}

a{
    text-decoration: none;
    color: #D0D6F9;
    display: flex;
    height: 100%;
    align-items: center;
}

img{
    height: 100%;
    width: 100%;
    color: #fff;
}

.background-home{
    background-image: url('../Img/assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* padding-top: 24px; */
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.logo{
    margin: 0 0 0 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    background-image: url('../Img/assets/shared/logo.svg');
    background-size: contain;
    overflow: hidden;
}

.logo a{
    display: block;
    width: 100%;
    height: 100%;
}

.mobile-main-nav{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    height: 100vh;
    width: 68%;
    /* backdrop-filter: blur(5px);
    background-color: #0B0D17; */
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(41px);

    transition: transform 0.2s;
}

.tablet-main-nav{
    display: none;
}

.desktop-main-nav{
    display: none;
}

.mobile-main-nav ul{
    margin-top: 113px;
    list-style: none;
    padding-left: 32px;
}

.mobile-main-nav li{
    display: block;
    height: 31px;
    line-height: 31px;
}

.mobile-main-nav li:nth-child(n+1):not(:last-child){
    margin: 20px 0;
}

.mobile-main-nav li.active{
    border-right: 4px solid white;
}

.mobile-main-nav li a{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.mobile-main-nav span{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    margin-right: 11px;
    display: inline-block;
    width: 18px;
    
    color: #FFFFFF; 
}

.hamburger-container{
    margin-right: 24px;
}

.toggle-menu{
	width: 24px;
    position: fixed;
    z-index: 99;
    top: 31px;
    right: 21px;
}

.toggle-menu input{
	display: none;
}

.toggle-menu label{
	display: block;
	cursor: pointer;
	width: 100%;
}

.toggle-menu span{
	display: block;
	height: 3px;
	width: 100%;
	background-color: #D0D6F9;
	transition: transform 0.3s;

    pointer-events: none;
}

.toggle-menu label span:nth-child(2){
	margin: 6px 0;
}

.toggle-menu input:checked~label span:nth-child(1){
	transform: translateY(9px) rotate(45deg); /*translateY(x), где х = margin+span height*/
}

.toggle-menu input:checked~label span:nth-child(2){
	transform: rotate(45deg);
}

.toggle-menu input:checked~label span:nth-child(3){
	transform: translateY(-9px) rotate(-45deg);
}

.text-container{
    color: #D0D6F9;
    text-align: center;
    margin: 48px 24px 0;
}

.text-container h1{
    color: white;
    margin: 16px 0;
}

.explore{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 80px auto 0;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore span{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    /* identical to box height */

    text-align: center;
    letter-spacing: 1.25px;

    color: #0B0D17;
}

.close{
    transform: translateX(100%);
}

/* destination.html */

.background-destination{
    background-image: url('../Img/assets/destination/background-destination-mobile.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.content-page-settings{
    margin-top: 24px;
    text-transform: uppercase;
    color: white;
}

.planets-imgs-container{
    margin-top: 32px;
    position: relative;
    height: 170px
}

.planet-img{
    position: absolute;
    width: 100%;
    transform: scale(0);

    transition: transform 0.5s;
}

.planet-img.show{
    transform: scale(1);
    z-index: 5;
}

.content-page-settings span{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    padding-right: 18px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.img-container{
    width: 170px;
    height: 170px;
    margin: 0 auto;
}

.container{
    width: 87.2%;
    margin: 26px auto 0;
}

.destination-menu{
    text-transform: uppercase;
    width: 63.2%;
    margin: 26px auto 0;
}

.destination-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination-menu a{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    /* border-bottom: 3px solid transparent; */
    height: 28px;
    display: block;

    letter-spacing: 2.3625px;

    color: #D0D6F9;
}

.destination-menu li div{
    height: 3px;
    width: 36px;
    background-color: transparent;
    margin: -3px auto 0;
    pointer-events: none;

    transition: background-color 0.3s;
}

/* .destination-menu li.active a{
    border-bottom: 3px solid white;
    height: 25px;
    display: block;

    color: #fff;
} */

.destination-menu li.active div{
    background-color: white;
}

.container h2{
    margin-top: 20px;
}

.decoration-line{
    width: 100%;
    height: 1px;
    margin-top: 32px;

    background: #383B4B;
}

.information-container{
    margin-bottom: 58px;
}

.distance,
.time-of-travel{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.subheading-2{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 2.3625px;
    text-transform: uppercase;

    color: #D0D6F9;
}

.subheading-1{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */
    margin-top: 12px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
 
/* .destination-mars:not(.planet-img), 
.destination-europa:not(.planet-img),
.destination-titan:not(.planet-img){
    display: none;
} */

.destination-info{
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: scale(0);

    transition: opacity 0.5s;
}

.destination-info.show{
    opacity: 1;
    transform: scale(1);
}

/* crew.html */

.background-crew{
    background-image: url('../Img/assets/crew/background-crew-mobile.jpg');
    background-attachment: fixed;
    background-size: cover;
}

/* .crew-flex-container{
    display: flex;
    width: 400%;
}

.crew-flex-container .show:nth-child(1){
    transform: translateX(0);
}

.crew-flex-container .show:nth-child(2){
    transform: translateX(25%);
} */

.crew-tablet-container{
    display: none;
}

.crew-member-container{
    position: relative;
    width: 87.2%;
    height: 222px;
    margin: 32px auto 0;
}

.crew-member-1-pic{
    height: 100%;
    margin: 0 auto;

    background-image: url('../Img/assets/crew/image-douglas-hurley.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform: scale(0) translateX(6px);
}

.crew-member-2-pic{
    height: 100%;
    margin: 0 auto;
    
    background-image: url('../Img/assets/crew/image-mark-shuttleworth.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform: scale(0);
}

.crew-member-3-pic{
    height: 100%;
    margin: 0 auto;
    
    background-image: url('../Img/assets/crew/image-victor-glover.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform: scale(0);
}

.crew-member-4-pic{
    height: 100%;
    margin: 0 auto;
    
    background-image: url('../Img/assets/crew/image-anousheh-ansari.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform: scale(0);
}

.crew-member-1-pic,
.crew-member-2-pic,
.crew-member-3-pic,
.crew-member-4-pic{
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.crew-member-1-pic.show{
    transform: scale(1) translateX(6px);
    opacity: 1;
    z-index: 4;
}
.crew-member-2-pic.show,
.crew-member-3-pic.show,
.crew-member-4-pic.show{
    transform: scale(1);
    opacity: 1;
    z-index: 4;
}

/* .additional-positioning{
    transform: translateX(6px);
} */

.decor-line-restyle{
    margin: 0 auto;
    width: 87.2%;
}

.crew-menu{
    width: 88px;
    height: 10px;

    margin: 32px auto 0;
}

.crew-menu ul{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crew-menu li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;

    transition: opacity 0.5s;
}

.crew-menu li.active{
    mix-blend-mode: normal;
    opacity: 1;
}

.crew-info-container{
    position: relative;
    width: 87.2%;
    height: 222px;
    margin: 32px auto 58px;
}

.crew-info{
    position: absolute;
    /* width: 87.2%;
    height: 222px;
    margin: 32px auto 0; */
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}

.crew-info.show{
    opacity: 1;
    transform: scale(1);
}

.crew-info h4{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.crew-info h3{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* .crew-member-2,
.crew-member-3,
.crew-member-4{
    display: none;
} */

/* technology.html */

.background-technology{
    background-image: url('../Img/assets/technology/background-technology-mobile.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.desktop-version{
    display: none;
}

.technology-container{
    position: relative;
    height: 45.31vw;
    margin-top: 32px;
}

.technology-img{
    position: absolute;
    opacity: 0;

    transition: opacity 0.5s;
}

.technology-img.show{
    opacity: 1;
}

.technology-img-1{
    width: 100%;
    height: 100%;
    /* margin-top: 32px; */

    background-image: url('../Img/assets/technology/image-launch-vehicle-landscape.jpg');
    background-size: cover;
}

.technology-img-2{
    width: 100%;
    height: 100%;
    /* margin-top: 32px; */

    background-image: url('../Img/assets/technology/image-spaceport-landscape.jpg');
    background-size: cover;
}

.technology-img-3{
    width: 100%;
    height: 100%;
    /* margin-top: 32px; */

    background-image: url('../Img/assets/technology/image-space-capsule-landscape.jpg');
    background-size: cover;
}

.technology-menu{
    width: 152px;
    height: 40px;

    margin: 34px auto 0;
}

.technology-menu ul{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology-menu li{
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ffffff40;
    border-radius: 50%;
    background: transparent;
    mix-blend-mode: normal;

    transition: background-color 0.5s;
}

.technology-menu li a{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0px;

    color: #fff;

    transition: color 0.5s;
}

.technology-menu li.active{
    background-color: #fff;
}

.technology-menu li.active a{
    color: #0B0D17;
}

.technology-header-4{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 26px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 2.3625px;

    color: #D0D6F9;

}

.technology-info-container{
    position: relative;
    width: 87.2%;
    min-height: 194px;
    margin: 9px auto 81px;
}

.smaller-technology-container{
    /* width: 87.2%;
    margin: 9px auto 81px; */
    position: absolute;
    opacity: 0;
    transform: scale(0);

    transition: opacity 0.5s;
}

.smaller-technology-container.show{
    opacity: 1;
    transform: scale(1);
}

.smaller-technology-container h3{
    font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
margin-bottom: 16px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

/* .item-2,
.item-3{
    display: none;
} */

/* [data-toggle-menu]{
    background-color: #0B0D17;
} */

@media (min-width: 768px){
    .background-home{
        background-image: url('../Img/assets/home/background-home-tablet.jpg');
    }
    .main-header{
        padding: 0;
        align-items: unset;
    }
    .logo{
        width: 48px;
        height: 48px;
        margin: 24px 0 0 39px;
    }
    .hamburger-container, .mobile-main-nav{
        display: none;
    }
    .tablet-main-nav{
        display: block;
        width: 450px;
        height: 96px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
    }
    .tablet-main-nav ul{
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 46px 0 48px;
    }
    .tablet-main-nav li{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;

        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
    }

    .tablet-main-nav li.active{
        border-bottom: 3px solid #fff;
    }

    .tablet-main-nav a{
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        letter-spacing: 2.3625px;

        color: #FFFFFF;
    }
    .text-container {
        color: #D0D6F9;
        text-align: center;
        margin: 106px auto 0;
        width: 58.6%;
    }
    h5{
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        letter-spacing: 3.375px;
    }
    h1{
        font-size: 150px;
        line-height: 150px;
    }
    .text-container h1 {
        margin: 24px 0;
    }
    p{
        font-size: 16px;
        line-height: 28px;
    }
    .explore{
        margin: 156px auto 0;
        width: 242px;
        height: 242px;
    }
    .explore span{
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */

        letter-spacing: 2px;
    }

    /* destination.html */

    .background-destination{
        background-image: url('../Img/assets/destination/background-destination-tablet.jpg');
    }

    .content-page-settings{
        margin-top: 40px;
        text-align: left;
        padding-left: 38.5px;
    }
    .content-page-settings span{
        font-size: 20px;
        line-height: 24px;
        padding-right: 19px;
        /* identical to box height */

        letter-spacing: 3.375px;
    }
    .planets-imgs-container {
        margin-top: 60px;
        position: relative;
        height: 300px;
    }
    .img-container {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
    .destination-menu {
        text-transform: uppercase;
        width: 37.2%;
        margin: 53px auto 0;
    }
    .destination-menu a{
        height: 34px;

        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;

        /* border-bottom: 3px solid transparent; */
        transition: border-color 0.3s;
    }
    .destination-menu li{
        border-bottom: 3px solid transparent;
    }
    .destination-menu li.active{
        border-bottom: 3px solid #fff;
    }
    .destination-menu li div {
        display: none;
    }
    h2{
        font-size: 80px;
        line-height: 92px;
    }
    .container{
        margin-top: 32px;
        width: 74.6%;
    }
    .container h2{
        margin-bottom: 8px;
    }
    .decoration-line{
        margin-top: 49px;
    }
    .information-container{
        display: flex;
        justify-content: space-evenly;
    }
    .distance, 
    .time-of-travel{
        margin-top: 28px;
    }

    /* crew.html */

    .background-crew{
        background-image: url('../Img/assets/crew/background-crew-tablet.jpg');
    }
    .crew-mobile-container{
        display: none;
    }
    .crew-tablet-container{
        display: block;
    }
    .crew-info-container{
        width: 59.7%;
        height: 182px;
        margin: 60px auto 40px;
    }
    .crew-info h4{
        font-size: 24px;
        line-height: 28px;
    }
    .crew-info h3{
        font-size: 40px;
        line-height: 46px;
    }
    .crew-menu{
        margin-top: 40px;
    }
    .crew-member-container{
        margin-top: 40px;
        width: 59.7%;
        height: 572px;
    }

    /* technology.html */

    .background-technology{
        background-image: url('../Img/assets/technology/background-technology-tablet.jpg');
    }
    .technology-container{
        margin-top: 60px;
        height: 40.4vw;
        overflow: hidden;
    }
    .technology-img-1{
        width: 101%;
    }
    .technology-menu{
        width: 210px;
        height: 60px;
        margin-top: 56px;
    }
    .technology-menu li{
        width: 60px;
        height: 60px;
    }
    .technology-menu li a{
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */

        text-align: center;
    }
    .technology-header-4{
        margin-top: 44px;

        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
    }
    .technology-info-container{
        margin-top: 16px;
        width: 59.7%;
    }
    .smaller-technology-container h3{
        font-size: 40px;
        line-height: 46px;
    }
}

@media (min-width: 1440px){
    .background-home{
        background-image: url('../Img/assets/home/background-home-desktop.jpg');
    }
    .logo{
        margin: 64px 0 0 55px;
    }
    .tablet-main-nav{
        display: none;
    }
    .desktop-main-nav{
        display: block;
        width: 57.64%;
        height: 96px;
        margin-top: 40px;
        position: relative;
        z-index: 99;

        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
    }
    .desktop-main-nav ul{
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 165px 0 123px;
    }
    .desktop-main-nav li{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
        transition: border-bottom-color 0.3s;
    }
    .desktop-main-nav li:hover{
        border-bottom: 3px solid #ffffff80;
    }
    .desktop-main-nav li.active {
        border-bottom: 3px solid #fff;
    }
    .desktop-main-nav span{
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        padding-right: 11px;

        color: #FFFFFF;
    }
    .desktop-main-nav a{
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;

        color: #FFFFFF;
    }
    .main-nav-decoration-line{
        position: absolute;
        top: 50%;
        right: calc(100% - 30px);
        height: 1px;
        width: 57%;

        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
    }
    .desktop-flex-container{
        display: flex;
        margin: 251px 0 131px 0;
        justify-content: space-between;
    }
    .desktop-flex-container .text-container{
        margin: 0 0 0 165px;
        width: 450px;
    }
    h5{
        font-size: 28px;
        line-height: 34px;
        /* identical to box height */

        letter-spacing: 4.725px;
    }
    h1{
        line-height: 172px;
    }
    p{
        font-size: 18px;
        line-height: 32px;
    }
    h5, p{
        text-align: left;
    }
    .explore{
        width: 274px;
        height: 274px;
        margin: 108px 165px 0 386px;
        outline: 0px solid #ffffff1a;

        transition: outline-width 0.3s;
    }
    .explore:hover{
        outline: 88px solid #ffffff1a;
    }

    /* destination.html */
    .background-destination{
        background-image: url('../Img/assets/destination/background-destination-desktop.jpg');
    }
    .content-page-settings{
        margin-top: 76px;
        text-align: left;
        padding-left: 166.5px;
    }
    .content-page-settings span{
        font-size: 28px;
        line-height: 34px;
        /* identical to box height */
        padding-right: 28px;

        letter-spacing: 4.725px;
    }
    .planets-imgs-container,
    .desktop-container{
        width: 50%;
        position: relative;
    }
    .desktop-flex-container-destination-page{
        display: flex;
        margin-top: 64px;
        margin-bottom: 118px;
    }
    .planets-imgs-container{
        height: 445px;
        margin-left: 120px;
        margin-top: 33px;
    }
    .img-container{
        width: 445px;
        height: 445px;
    }
    h2{
        font-size: 100px;
        line-height: 115px;
    }
    .desktop-container-2{
        width: 67.43%;
        margin: 0 0 0 50px;
        position: relative;
    }
    .destination-menu{
        text-transform: uppercase;
        width: 64.05%;
        margin: 0;
    }
    .destination-menu li{
        border-bottom: 3px solid transparent;
        transition: border-bottom-color 0.3s;
    }
    .destination-menu li:hover{
        border-bottom: 3px solid #ffffff80;
    }
    .destination-menu li.active{
        border-bottom: 3px solid #fff;
    }
    .container{
        width: 100%;
        margin: 0;
    }
    .container h2{
        margin: 37px 0 14px;
        text-align: left;
    }
    .decoration-line{
        margin-top: 54px;
    }
    .distance, 
    .time-of-travel{
        width: 50%;
    }
    .subheading-1,
    .subheading-2{
        text-align: left;
    }

    /* crew.html */

    .background-crew{
        background-image: url('../Img/assets/crew/background-crew-desktop.jpg');
    }
    .crew-desktop-container{
        width: 42.64%;
        margin-left: 165.5px;
        margin-top: 154px;
    }
    .crew-info-container{
        width: 100%;
        height: 262px;
    }
    .crew-info h4{
        font-size: 32px;
        line-height: 37px;
        text-align: left;
    }
    .crew-info h3{
        font-size: 56px;
        line-height: 64px;
        text-align: left;
        margin: 15px 0 27px;
    }
    .crew-info p{
        width: 444px;
    }
    .crew-menu{
        width: 132px;
        height: 15px;
        margin: 88px 0 0;
    }
    .crew-menu li{
        width: 15px;
        height: 15px;
    }
    .crew-menu li:hover{
        opacity: 0.5;
    }
    .crew-menu li.active{
        opacity: 1;
    }
    .crew-member-container{
        position: absolute;
        top: 148px;
        /* bottom: 0; */
        right: 0;
        overflow: hidden;
        height: 70vh;
        min-height: 712px;
        max-height: 1032px;
    }

    /* technology.html */

    .background-technology{
        background-image: url('../Img/assets/technology/background-technology-desktop.jpg');
    }
    .desktop-version{
        display: block;
    }
    .tablet-version,
    .mobile-version{
        display: none;
    }
    .desktop-technology-flex-container{
        display: flex;
        margin-top: 26px;
        margin-bottom: 101px;
        justify-content: space-between;
    }
    .desktop-technology-container:nth-child(1){
        width: 17.02%;
        margin-top: 111px;
    }
    .desktop-technology-container:nth-child(2){
        width: 32.64%;
        margin-top: 111px;
        position: relative;
        left: -25px;
    }
    .desktop-technology-container:nth-child(3){
        width: 35.76%;
    }
    .technology-menu{
        width: 80px;
        height: 304px;
        margin: 0 0 0 165px;
    }
    .technology-menu ul{
        flex-direction: column;
    }
    .technology-menu li{
        width: 80px;
        height: 80px;
        transition: border-color 0.3s;
    }
    .technology-menu li:hover{
        border: 1px solid #fff;
    }
    /* .technology-menu li.active{

    } */
    .technology-menu li a{
        width: 100%;
        justify-content: space-around;
    }
    .technology-header-4{
        margin: 0;
        text-align: left;
    }
    .technology-info-container{
        margin: 0;
        width: 100%;
    }
    .smaller-technology-container h3{
        margin: 11px 0 17px;
        font-size: 56px;
        line-height: 64px;
        text-align: left;
    }
    .technology-container{
        margin: 0;
        height: 36.6vw;
    }
    .technology-img-1{
        background-image: url('../Img/assets/technology/image-launch-vehicle-portrait.jpg');
    }
    .technology-img-2{
        background-image: url('../Img/assets/technology/image-spaceport-portrait.jpg');
    }
    .technology-img-3{
        background-image: url('../Img/assets/technology/image-space-capsule-portrait.jpg');
    }
}

@supports not (backdrop-filter: blur(1px)) {
    .mobile-main-nav{
        background-color: #0B0D1780;
    }
}