*{
	padding: 0;
	margin: 0;
	/* overflow: hidden; */
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
html, body{
	padding: 0;
	margin: 0;
	/* color: #DBDADA;
	background-color: #404150;
	font-family: sans-serif; */
	/* max-width: 375px; */
	/* scroll-behavior: smooth;
	transition: color 0.5s, background-color 0.5s; */
}

h1{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
}

h2{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

h5{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.7px;

    color: #D0D6F9;
}

p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;

    color: #D0D6F9;
}

a{
    text-decoration: none;
    color: #D0D6F9;
}

img{
    height: 100%;
    width: 100%;
}

.background-home{
    background-image: url('/Img/assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* padding-top: 24px; */
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.logo{
    margin: 0 0 0 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    background-image: url('/Img/assets/shared/logo.svg');
    background-size: contain;
    overflow: hidden;
}

.logo a{
    display: block;
    width: 100%;
    height: 100%;
}

.mobile-main-nav{
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 68%;
    /* backdrop-filter: blur(5px);
    background-color: #0B0D17; */
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(41px);
}

.mobile-main-nav ul{
    margin-top: 113px;
    list-style: none;
    padding-left: 32px;
}

.mobile-main-nav li{
    display: block;
    height: 31px;
    line-height: 31px;
}

.mobile-main-nav li:nth-child(n+1):not(:last-child){
    margin: 20px 0;
}

.mobile-main-nav li.active{
    border-right: 4px solid white;
}

.mobile-main-nav li a{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.mobile-main-nav span{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    margin-right: 11px;
    display: inline-block;
    width: 18px;
    
    color: #FFFFFF; 
}

.hamburger-container{
    margin-right: 24px;
}

.toggle-menu{
	width: 24px;
    position: fixed;
    z-index: 99;
    top: 31px;
    right: 21px;
}

.toggle-menu input{
	display: none;
}

.toggle-menu label{
	display: block;
	cursor: pointer;
	width: 100%;
}

.toggle-menu span{
	display: block;
	height: 3px;
	width: 100%;
	background-color: #D0D6F9;
	transition: transform 0.3s;
}

.toggle-menu label span:nth-child(2){
	margin: 6px 0;
}

.toggle-menu input:checked~label span:nth-child(1){
	transform: translateY(9px) rotate(45deg); /*translateY(x), где х = margin+span height*/
}

.toggle-menu input:checked~label span:nth-child(2){
	transform: rotate(45deg);
}

.toggle-menu input:checked~label span:nth-child(3){
	transform: translateY(-9px) rotate(-45deg);
}

.text-container{
    color: #D0D6F9;
    text-align: center;
    margin: 48px 24px 0;
}

.text-container h1{
    color: white;
    margin: 16px 0;
}

.explore{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 80px auto 0;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore span{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    /* identical to box height */

    text-align: center;
    letter-spacing: 1.25px;

    color: #0B0D17;
}

.close{
    transform: translateX(100%);
}

/* destination.html */

.background-destination-mobile{
    background-image: url('/Img/assets/destination/background-destination-mobile.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.content-page-settings{
    margin-top: 24px;
    text-transform: uppercase;
    color: white;
}

.content-page-settings span{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    padding-right: 18px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.img-container-mobile{
    width: 170px;
    height: 170px;
    margin: 32px auto 0;
}

.container{
    width: 87.2%;
    margin: 26px auto 0;
}

.destination-menu{
    text-transform: uppercase;
    text-transform: uppercase;
    width: 72.5%;
    margin: 0 auto;
}

.destination-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination-menu a{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    /* border-bottom: 3px solid transparent; */
    height: 28px;
    display: block;

    letter-spacing: 2.3625px;

    color: #D0D6F9;
}

.destination-menu li div{
    height: 3px;
    width: 36px;
    background-color: transparent;
    margin: -3px auto 0;
    pointer-events: none;
}

/* .destination-menu li.active a{
    border-bottom: 3px solid white;
    height: 25px;
    display: block;

    color: #fff;
} */

.destination-menu li.active div{
    background-color: white;
}

.container h2{
    margin-top: 20px;
}

.decoration-line{
    width: 100%;
    height: 1px;
    margin-top: 32px;

    background: #383B4B;
}

.distance,
.time-of-travel{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.subheading-2{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 2.3625px;
    text-transform: uppercase;

    color: #D0D6F9;
}

.subheading-1{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */
    margin-top: 12px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.destination-moon, 
.destination-mars, 
.destination-europa{
    display: none;
}

/* crew.html */

.background-crew-mobile{
    background-image: url('/Img/assets/crew/background-crew-mobile.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.crew-member-container{
    width: 87.2%;
    margin: 32px auto 0;
}

.crew-member-1-pic{
    height: 222px;
    margin: 0 auto;

    background-image: url('/Img/assets/crew/image-douglas-hurley.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.crew-member-2-pic{
    height: 222px;
    margin: 0 auto;
    
    background-image: url('/Img/assets/crew/image-mark-shuttleworth.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.crew-member-3-pic{
    height: 222px;
    margin: 0 auto;
    
    background-image: url('/Img/assets/crew/image-victor-glover.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.crew-member-4-pic{
    height: 222px;
    margin: 0 auto;
    
    background-image: url('/Img/assets/crew/image-anousheh-ansari.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.additional-positioning{
    transform: translateX(6px);
}

.decor-line-restyle{
    margin: 0 auto;
    width: 87.2%;
}

.crew-menu{
    width: 88px;
    height: 10px;

    margin: 32px auto 0;
}

.crew-menu ul{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crew-menu li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;
}

.crew-menu li.active{
    mix-blend-mode: normal;
    opacity: 1;
}

.crew-member-container h4{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.crew-member-container h3{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.crew-member-2,
.crew-member-3,
.crew-member-4{
    display: none;
}